out
.idea/workspace.xml
.idea/compiler.xml
.idea/copyright
.idea/modules.xml
.idea/vcs.xml
.gradle
build
*.iml
gen/com/intellij/whileLang/components
gen/com/intellij/whileLang/templateBase
gen/com/intellij/whileLang/printer
